.description {
	color:#909090;
	padding:6px;
	font-family: 'Raleway', sans-serif;
}

/* polaroid */
.pol_wrap {
	padding:15px;
	background-color:#f2f2f2; 
	margin-top:20px;
}

.navbar, .collapse, .navbar-inverse {
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#ID {
	display:none;
}

.wrapper {
	background-color:#EEE;
	padding: 10px;
}

#nav_sub > .navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
#nav_sub > .navbar-collapse.in {
    padding-left:30px;
}

.anchored a {
    color: #000;
    text-decoration: none;
}

.anchored a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

aside {
    float: right;
    padding: 1%;
    width: 26%;
	
}

#content {
    float: left;
    /*padding: 3%;*/
    width: 73%;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media all and (max-width : 768px) {
    aside {
        width: 100%;
    }
	#content {
		width: 100%;
	}
}